<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
  </head>
  <body>
    <div class="header">
      <h1 class="header-text">IntelliTraffic</h1>
    </div>
    <div class="form-container">
        <h1>Configure Vehicles</h1>
        <form action="/submit-vehicle-count" method="post">
            <label for="vehicles">Number of vehicles:</label>
            <input type="number" id="vehicles" name="vehicles" min="0" required><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
  </body>
</html>